/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */



/* .wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: red;
} */


.name-welcome {
    text-align: center;
}