.App {
  text-align: center;
}

.wrapper {
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(24, 50, 93);
}